# ==============================
# Java / Compilation
# ==============================
*.class
*.jar
*.war
*.ear
*.nar
todo.md
table.sql

# ==============================
# Maven
# ==============================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# ==============================
# IDE - IntelliJ IDEA
# ==============================
.idea/
*.iml
*.iws
*.ipr

# ==============================
# IDE - Eclipse
# ==============================
.classpath
.project
.settings/
bin/

# ==============================
# IDE - VS Code
# ==============================
.vscode/

# ==============================
# Spring Boot
# ==============================
application-local.properties
application-secret.properties

# ==============================
# Système d'exploitation
# ==============================
.DS_Store
Thumbs.db
